In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("2019.csv")

In [3]:
data.drop(["Overall rank","Country or region"],axis=1,inplace=True)

In [4]:
data

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...
151,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [5]:
x_data = data.iloc[:,1:]
y_data = data.loc[:,["Score"]] # sets the target variables

In [7]:
y_data

     Score
0    7.769
1    7.600
2    7.554
3    7.494
4    7.488
..     ...
151  3.334
152  3.231
153  3.203
154  3.083
155  2.853

[156 rows x 1 columns]

In [6]:
x = (x_data - np.min(x_data))/(np.max(x_data) - np.min(x_data)).values
y = (y_data - np.min(y_data))/(np.max(y_data) - np.min(y_data)).values # resets all values to < 1

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=1)

In [8]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [9]:
print("print accuracy of dt algo:",reg.score(x_test,y_test))

print accuracy of dt algo: 0.7863696902483333

In [10]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=7) #n_neighbors=k
knn.fit(x,y)
prediction = knn.predict(x_test) #prediction test 

print("{} nn score: {}".format(3,knn.score(x,y)))

3 nn score: 0.8301181413831957